
@(createdDashboard: controllers.Forms.CreatedDashboard)
@mainBasic("ScoDash") {
    <div class="row green-message vertical-align">
        <div class="col-md-12 text-center"><span><img src="@routes.Assets.at("images/icon-check-white.png")"/>&nbsp;Dashboard was created!</span>&nbsp;<a class="url" href="@{createdDashboard.writeHash}">View it</a></div>
    </div>

    <div class="row vertical-align padding-15">
        <div class="col-md-offset-3 col-md-6 text-center headline-inline">
            <img src="@routes.Assets.at("images/icon-share.png")"/>&nbsp;&nbsp;<h3>SHARE&nbsp;@{createdDashboard.name.toUpperCase}&nbsp;DASHBOARD</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            @copyLinks(createdDashboard)
        </div>
    </div>

}

